* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

/* body */
body {
    margin: auto 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

p {
    font-size: 0.8rem;
    font-weight: 400;
}

a {
    font-size: 0.8rem;
    font-weight: 400;
    text-decoration: underline;
}

    /* header */
    header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        height: 69px;
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        align-content: center;
        background-color: black;
        border-bottom: 1px solid seashell;
    }
        /* img */
        header img {
            height: 50px;
            margin: auto 0 auto 10px;
            opacity: 0.6;
        }
        /* nav */
        header nav {
            display: inline-flex;
            align-content: center;
        }
        /* a */
        header a {
            color: seashell;
            margin: auto 10px auto 0;
        }
        
    /* section: mission */
    .mission {
        background-image: url('/images/img-mission-background.webp');
        background-repeat: no-repeat;
        background-size: cover;
        width: 1200px;
        height: 700px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }
        /* h2 */
        .mission h2 {
            background-color: black;
        }
        /* p */
        .mission p {
            background-color: black;
        }
        
    /* section: featured-tea */
    .featured-tea {
        width: 1000px;
        height: auto;
        margin: 3rem auto;
        display: flex;
        flex-direction: column;
    }
        /* h2 */
        .featured-tea h2 {
            margin-bottom: 1.2rem;
        }
        /* p */
        .featured-tea p {
            margin-bottom: 1rem;
        }
        /* main: image-gallery */
        .image-gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 1rem;
        }
            /* div: image-box     */
            .image-box {
                margin: auto;
            }
                /* img */
                .image-gallery img {
                    height: 200px;
                    width: 300px;
                    margin-bottom: 10px;
                }
                /* figcaption */
                .image-gallery figcaption {
                    margin-bottom: 10px;
                }
        
    /* section: locations */
    .locations {
        width: 1200px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        background-image: url('/images/img-locations-background.webp');
        background-repeat: no-repeat;
        background-size: cover;
    }
        /* h2 */

        /* main: locations-gallery*/
        .locations-gallery {
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
            margin-top: 15px;
        }
            /* article class: location-box, id: downtown */
            .location-box {
                background-color: black;
                width: 300px;
                margin: auto 20px;
            }
                /* h3 */
                .location-box h3 {
                    padding: 1rem;
                }
                /* p */
                .location-box p {
                    padding: 0.8rem;
                }
                
            /* article class: location-box, id: east-bayside */
                /* h3 */
                /* p */
                
            /* article class: location-box, id: oakdale */
                /* h3 */
                /* p */
    
    /* footer: footer */
    .footer {
        margin-top: 10px;
    }
        /* main: contact */
        .contact h2,
                 h5,
                 p {
            padding: 15px;
        }
            /* h2 */
            /* h5 */
                /* a */
                .contact h5 a {
                    text-decoration: none;
                    color: seashell;
                }
            /* p */

        /* aside: copyright */
        .copyright p {
            float: left;
        }
            /* p */
